<!DOCTYPE html>
<html>
    <head>
        <title>Blogspot</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blogspot</a></h1>
        </header>

        <article>
            <time>published: 20.03.2024, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>abc</p>
        </article>

        <article>
            <time>published: 20.03.2024, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>pqr</p>
        </article>
    </body>
</html>